<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Package
    Name="SharpCaster"
    Version="3.0.0"
    Manufacturer="Tapanila"
    UpgradeCode="1f0a8a1b-785c-4b2f-981c-9c36ad8f9fd3">
    <MajorUpgrade DowngradeErrorMessage="A newer version of SharpCaster is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <Icon Id="SharpCasterIcon" SourceFile="SharpCaster.ico" />
    <Property Id="ARPPRODUCTICON" Value="SharpCasterIcon" />

    <util:QueryNativeMachine />

    <Feature Id="ProductFeature" Title="SharpCaster" Level="1">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>

  <Fragment>
    <!-- Install to native 64-bit Program Files -->
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="CompanyFolder" Name="!(bind.Property.Manufacturer)">
        <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
      </Directory>
    </StandardDirectory>

    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      <Component Id="SharpCasterX64" Guid="{3A8B5B69-2DAB-4E9F-AC7F-3D9B2B7C2B39}" Bitness="always64"
                Condition="WIX_NATIVE_MACHINE = 34404">
        <File Id="SharpCasterExeX64"
              Name="SharpCaster.exe" ShortName="SHRCASX.EXE"
              Source="sharpcaster-win-x64.exe" />
        <Environment Id="PathX64" Name="PATH" Action="set" System="yes" Part="last" Value="[INSTALLFOLDER]" />
      </Component>

      <Component Id="SharpCasterARM64" Guid="{A2F7D0B5-7C2E-4C3E-9C71-5A2B1A7C4F11}" Bitness="always64"
                Condition="WIX_NATIVE_MACHINE = 43620">
        <File Id="SharpCasterExeARM64"
              Name="SharpCaster.exe" ShortName="SHRCASA.EXE"
              Source="sharpcaster-win-arm.exe" />
        <Environment Id="PathArm64" Name="PATH" Action="set" System="yes" Part="last" Value="[INSTALLFOLDER]" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>